{{ header }}
<div id="information-our-technology" class="container-fluid content-container" style="margin-top: 0;">
  <div class="row page-banner">
    {% if lang == en %}
    <img src="/catalog/view/theme/imuto/image/our-technology.jpg" class="img-responsive img-width-full">
    {% else %}
    <img src="/catalog/view/theme/imuto/image/(our-technology)photoer-equipment.jpg" class="img-responsive img-width-full">
    {% endif %}
  </div>
  <div class="row">
    <div class="container">
      <div class="information-technology-item">
        <h3 class="text-uppercase information-technology-item-title">{{ text_display_technology }}</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/our-technology1.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_digi_power_technology }}</p>
            <p>{{ text_digi_power_technology_description }}</p>

            <p class="font-bold">{{ text_ergonomic_design }}</p>
            <p>{{ text_strictly }}</p>

            <p class="font-bold">{{ text_professional }}</p>
            <p>{{ text_the_pro }}</p>
          </div>
        </div>
        <div class="row"> 
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/our-technology2.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_digi_power_ii_technology }}</p>
            <p>{{ text_digi_power_ii_technology_description }}</p>

            <p class="font-bold">{{ text_buld }}</p>
            <p>{{ text_the_bulb }}</p>
            
            <p class="font-bold">{{ text_program }}</p>
            <p>{{ text_the_timed }}</p>
          </div>
        </div>
      </div>

      <div class="information-technology-item">
        <h3 class="text-uppercase information-technology-item-title">{{ text_fast_charge_technology }}</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/our-technology3.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_power_delivery_ii_technology }}</p>
            <p>{{ text_power_delivery_ii_technology_description }}</p>

            <p class="font-bold">{{ text_color_technology }}</p>
            <p>{{ text_color_temperature_control_technology }}</p>

            <p class="font-bold">{{ text_metal_button }}</p>
            <p>{{ text_led }}</p>

            <p class="font-bold">{{ text_s1_s2 }}</p>
            <p>{{ text_slave }}</p>

            <p class="font-bold">{{ text_ttl }}</p>
            <p>{{ text_equipped }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/our-technology4.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_im_power_technology }}</p>
            <p>{{ text_im_power_technology_description }}</p>

            <p class="font-bold">{{ text_strobe_mode }}</p>
            <p>{{ text_stroboscopic }}</p>

            <p class="font-bold">{{ text_backlight }}</p>
            <p>{{ text_detailed }}</p>

            <p class="font-bold">{{ text_fine }}</p>
            <p>{{ text_controll }}</p>

            <p class="font-bold">{{ text_fast }}</p>
            <p>{{ text_dont }}</p>

            <p class="font-bold">{{ text_lamp_cap }}</p>
            <p>{{ text_the_lamp }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}